<h2> 4.Featurizing text data with tfidf weighted word-vectors </h2>

In [8]:
#importing useful libraries
import math
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import tensorflow as tf
import plotly.express as px
import plotly.graph_objects as go
sns.color_palette('bright')
sns.set(style='darkgrid',rc = {'figure.figsize':(15,8)})
from plotly.offline import iplot
from sklearn.pipeline import make_pipeline 
%matplotlib inline
import os
print("Ready,set,go....")

Ready,set,go....

In [9]:
#geeting the current path
print(os.getcwd())

/content

In [10]:
#reading data sets
df = pd.read_csv('train.csv')

In [11]:
#checking head
df.head()

   id  qid1  ...                                          question2 is_duplicate
0   0     1  ...  What is the step by step guide to invest in sh...            0
1   1     3  ...  What would happen if the Indian government sto...            0
2   2     5  ...  How can Internet speed be increased by hacking...            0
3   3     7  ...  Find the remainder when [math]23^{24}[/math] i...            0
4   4     9  ...            Which fish would survive in salt water?            0

[5 rows x 6 columns]

In [12]:
#checking info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 404290 entries, 0 to 404289
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            404290 non-null  int64
 1   qid1          404290 non-null  int64
 2   qid2          404290 non-null  int64
 3   question1     404289 non-null  object
 4   question2     404288 non-null  object
 5   is_duplicate  404290 non-null  int64
dtypes: int64(4), object(2)
memory usage: 18.5+ MB

In [13]:
# encoding question1 to get unicode
df['question1'] = df['question1'].apply(lambda var: str(var))

In [14]:
# encoding question2 to get unicode
df['question2'] = df['question2'].apply(lambda var: str(var))

In [15]:
#checking head after encoding
df.head()

   id  qid1  ...                                          question2 is_duplicate
0   0     1  ...  What is the step by step guide to invest in sh...            0
1   1     3  ...  What would happen if the Indian government sto...            0
2   2     5  ...  How can Internet speed be increased by hacking...            0
3   3     7  ...  Find the remainder when [math]23^{24}[/math] i...            0
4   4     9  ...            Which fish would survive in salt water?            0

[5 rows x 6 columns]

In [16]:
#checking info after encoding
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 404290 entries, 0 to 404289
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            404290 non-null  int64
 1   qid1          404290 non-null  int64
 2   qid2          404290 non-null  int64
 3   question1     404290 non-null  object
 4   question2     404290 non-null  object
 5   is_duplicate  404290 non-null  int64
dtypes: int64(4), object(2)
memory usage: 18.5+ MB

<h3>4.1 Tfidfvectorizer and Countvectorizer

<h4>References</h4>

- https://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.TfidfVectorizer.html

- https://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.CountVectorizer.html

In [17]:
#importing useful libraries
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer

In [18]:
# merging the texts
questions = list(df['question1']) + list(df['question2'])

In [19]:
#creating instance 
tfidf = TfidfVectorizer(lowercase=False )

In [20]:
#fitting and transform for merging questions
tfidf.fit_transform(questions)

<808580x109679 sparse matrix of type '<class 'numpy.float64'>'
	with 8146555 stored elements in Compressed Sparse Row format>

In [21]:
#checking the question
questions[0]

'What is the step by step guide to invest in share market in india?'

In [22]:
#creating dict key value:word and value:tf-idf scores
word2tfidf = dict(zip(tfidf.get_feature_names(), tfidf.idf_))

<h3>4.2 spacy</h3>

<h4>References</h4>

- https://spacy.io/usage/linguistic-features#vectors-similarity

In [23]:
#importing spacy
import spacy

In [24]:
# After finding the corresponding TF-IDF scores,converting each question to a weighted average of word2vec vectors by these scores.
# en_vectors_web_lg, which includes over 1 million unique vectors.
nlp = spacy.load('en_core_web_sm')
#empty list 
vecs1 = []

<h4>Refernce</h4>

-https://github.com/tqdm/tqdm

In [28]:
#importing tqdm
from tqdm import tqdm
#tqdm is used for printing the progress bar

In [29]:
#method for vecs1
for q1 in tqdm(list(df['question1'])):
    doc1 = nlp(q1) 
    mean_vec1 = np.zeros([len(doc1), len(doc1[0].vector)])
    for word1 in doc1:
        # word2vec
        vec1 = word1.vector
        # fetch df score
        try:
            idf = word2tfidf[str(word1)]
        except:
            idf = 0
        # compute final vec
        mean_vec1 += vec1 * idf
    #mean_vec1 = mean_vec1.mean(axis=0)
    vecs1.append(mean_vec1)
    
df['q1_feats_m'] = list(vecs1)

100%|██████████| 404290/404290 [1:09:32<00:00, 96.90it/s]

In [31]:
#same for question2
vecs2 = []
for q2 in tqdm(list(df['question2'])):
    doc2 = nlp(q2) 
    mean_vec2 = np.zeros([len(doc1), len(doc2[0].vector)])
    for word2 in doc2:
        # word2vec
        vec2 = word2.vector
        # fetch df score
        try:
            idf = word2tfidf[str(word2)]
        except:
            #print word
            idf = 0
        # compute final vec
        mean_vec2 += vec2 * idf
    mean_vec2 = mean_vec2.mean(axis=0)
    vecs2.append(mean_vec2)
df['q2_feats_m'] = list(vecs2)

100%|██████████| 404290/404290 [1:09:15<00:00, 97.28it/s]

In [32]:
df.head()

   id  ...                                         q2_feats_m
0   0  ...  [-14.616980731487274, 59.75548753142357, -53.2...
1   1  ...  [-3.5657422859221697, -16.844570636749268, -13...
2   2  ...  [156.8336295336485, 59.99189615249634, -8.4143...
3   3  ...  [41.47243919968605, 56.71731689572334, 31.5306...
4   4  ...  [-14.446974992752075, -4.33825546503067, -70.1...

[5 rows x 8 columns]

In [34]:
#reading nlpfeatures dataframe
df_nlp = pd.read_csv("Nlp_Featuresa.csv",encoding='latin-1')

In [36]:
#reading for_A_fe.csv
df_ppro = pd.read_csv("for_A_f_e.csv",encoding='latin-1')

In [37]:
df1 = df_nlp.drop(['qid1','qid2','question1','question2'],axis=1)

In [38]:
df2 = df_ppro.drop(['qid1','qid2','question1','question2','is_duplicate'],axis=1)

In [39]:
df3 = df.drop(['qid1','qid2','question1','question2','is_duplicate'],axis=1)

In [40]:
df3_q1 = pd.DataFrame(df3.q1_feats_m.values.tolist(), index= df3.index)

/usr/local/lib/python3.7/dist-packages/pandas/core/internals/construction.py:305: VisibleDeprecationWarning:

Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray

In [41]:
df3_q2 = pd.DataFrame(df3.q2_feats_m.values.tolist(), index= df3.index)

In [42]:
#checking head
df_nlp.head()

   id  qid1  qid2  ... fuzz_ratio fuzz_partial_ratio  longest_substr_ratio
0   0     1     2  ...         93                100              0.982759
1   1     3     4  ...         66                 75              0.596154
2   2     5     6  ...         43                 47              0.166667
3   3     7     8  ...          9                 14              0.039216
4   4     9    10  ...         35                 56              0.175000

[5 rows x 32 columns]

In [43]:
#checking head
df_ppro.head()

   id  qid1  qid2  ... frequency_qid2 frequency_q1+q2  frequency_q1-q2
0   0     1     2  ...              1               2                0
1   1     3     4  ...              1               5                3
2   2     5     6  ...              1               2                0
3   3     7     8  ...              1               2                0
4   4     9    10  ...              1               4                2

[5 rows x 17 columns]

In [44]:
#checking head
df1.head()

   id  is_duplicate  ...  fuzz_partial_ratio  longest_substr_ratio
0   0             0  ...                 100              0.982759
1   1             0  ...                  75              0.596154
2   2             0  ...                  47              0.166667
3   3             0  ...                  14              0.039216
4   4             0  ...                  56              0.175000

[5 rows x 28 columns]

In [45]:
print("Number of features in nlp dataframe :", df1.shape[1])

Number of features in nlp dataframe : 28

In [46]:
#checking head
df2.head()

   id  common_word  ...  frequency_q1+q2  frequency_q1-q2
0   0         10.0  ...                2                0
1   1          4.0  ...                5                3
2   2          4.0  ...                2                0
3   3          0.0  ...                2                0
4   4          2.0  ...                4                2

[5 rows x 12 columns]

In [47]:
print("Number of features in preprocessed dataframe :", df2.shape[1])

Number of features in preprocessed dataframe : 12

In [48]:
#checking head
df3.head()

   id  ...                                         q2_feats_m
0   0  ...  [-14.616980731487274, 59.75548753142357, -53.2...
1   1  ...  [-3.5657422859221697, -16.844570636749268, -13...
2   2  ...  [156.8336295336485, 59.99189615249634, -8.4143...
3   3  ...  [41.47243919968605, 56.71731689572334, 31.5306...
4   4  ...  [-14.446974992752075, -4.33825546503067, -70.1...

[5 rows x 3 columns]

In [49]:
#checking head
df3_q1.head()

                                                   0
0  [[-6.179506778717041, 37.45073118805885, -67.9...
1  [[9.236667931079865, -80.37141644954681, -45.7...
2  [[97.54682850837708, 22.972195133566856, -39.5...
3  [[57.58699941635132, -22.017087638378143, -4.5...
4  [[83.1857842206955, -40.50698482990265, -83.40...

In [50]:
print("Number of features in question1 w2v  dataframe :", df3_q1.shape[1])

Number of features in question1 w2v  dataframe : 1

In [51]:
#checking head
df3_q2.head()

           0          1           2   ...          93          94         95
0  -14.616981  59.755488  -53.263745  ...   99.282776   50.791731 -17.566246
1   -3.565742 -16.844571 -130.911785  ...  194.269546  128.207803  55.490061
2  156.833630  59.991896   -8.414311  ...   19.922719   21.266690  49.574858
3   41.472439  56.717317   31.530616  ...  -14.231000    4.772115   7.711628
4  -14.446975  -4.338255  -70.196208  ...   22.118795   68.802072  21.025373

[5 rows x 96 columns]

In [52]:
print("Number of features in question2 w2v  dataframe :", df3_q2.shape[1])

Number of features in question2 w2v  dataframe : 96

In [53]:
print("Number of features in final dataframe  :", df1.shape[1]+df2.shape[1]+df3_q1.shape[1]+df3_q2.shape[1])

Number of features in final dataframe  : 137

In [54]:
df3_q1['id']=df1['id']
df3_q2['id']=df1['id']

In [55]:
df1  = df1.merge(df2, on='id',how='left')
df2  = df3_q1.merge(df3_q2, on='id',how='left')

In [56]:
result  = df1.merge(df2, on='id',how='left')
#saving for fruther use
result.to_csv('final_features.csv')